In [15]:
import pandas as pd

**Import the data frame**

In [16]:
#Read CSV file into data frame named 'routes_df'
df_1000 = pd.read_csv\
('/Users/Dali/Documents/DSI-7/projects/project_4/problem3/Project4/Dali/csv/3.Google_directions_api_0-1k.csv')

In [17]:
df_1000.shape

(1000, 16)

In [18]:
df_1000.head(1)

,Unnamed: 0,osmid_start,x_start,y_start,start_zone,osmid_end,x_end,y_end,end_zone,Time,Time_adj,distance,duration,duration_in_traffic,coordinates,directions
0,0,66450694,-71.090072,42.436659,1,66449255,-71.092265,42.41105,2,8:30,May 31 2019 8:30AM,2.8 mi,8 mins,9 mins,"{0: {'lat': 42.4373659, 'lng': -71.08992169999...","{0: 'Head north on Palmer St toward Park Ave',..."

In [19]:
df_2000 = pd.read_csv\
('/Users/Dali/Documents/DSI-7/projects/project_4/problem3/Project4/Dali/csv/4.Google_directions_api_1-2k.csv')

In [20]:
df_2000.head(1)

,Unnamed: 0,osmid_start,x_start,y_start,start_zone,osmid_end,x_end,y_end,end_zone,Time,Time_adj,distance,duration,duration_in_traffic,coordinates,directions
0,1000,66434546,-71.09189,42.428293,1,66459547,-71.121782,42.411549,0,15:30,May 31 2019 3:30PM,2.8 mi,10 mins,11 mins,"{0: {'lat': 42.4282441, 'lng': -71.0921821}, 1...","{0: 'Head west on Lund Rd toward Cedar Rd N', ..."

In [21]:
df_3000 = pd.read_csv\
('/Users/Dali/Documents/DSI-7/projects/project_4/problem3/Project4/Dali/csv/5.Google_directions_api_2-3k.csv')

In [22]:
df_3000.head(1)

,Unnamed: 0,osmid_start,x_start,y_start,start_zone,osmid_end,x_end,y_end,end_zone,Time,Time_adj,distance,duration,duration_in_traffic,coordinates,directions
0,2000,66421825,-71.079618,42.410299,2,66452585,-71.093543,42.436255,1,17:30,May 31 2019 5:30PM,2.4 mi,9 mins,11 mins,"{0: {'lat': 42.4131982, 'lng': -71.07927699999...",{0: 'Head north on Middlesex Ave toward 2nd St...

In [23]:
df_4000 = pd.read_csv\
('/Users/Dali/Documents/DSI-7/projects/project_4/problem3/Project4/Dali/csv/6.Google_directions_api_3-4k.csv')

In [24]:
df_4000.head(1)

,Unnamed: 0,osmid_start,x_start,y_start,start_zone,osmid_end,x_end,y_end,end_zone,Time,Time_adj,distance,duration,duration_in_traffic,coordinates,directions
0,3000,940961064,-71.094616,42.444456,1,66481352,-71.079786,42.403226,2,8:30,May 31 2019 8:30AM,3.4 mi,11 mins,13 mins,"{0: {'lat': 42.4425761, 'lng': -71.0941721}, 1...","{0: 'Head south on Woodland Rd', 1: 'At the tr..."

In [25]:
df_5000 = pd.read_csv\
('/Users/Dali/Documents/DSI-7/projects/project_4/problem3/Project4/Dali/csv/8.Google_directions_api_4-5k.csv')

In [26]:
df_5000.head(1)

,Unnamed: 0,osmid_start,x_start,y_start,start_zone,osmid_end,x_end,y_end,end_zone,Time,Time_adj,distance,duration,duration_in_traffic,coordinates,directions
0,4000,66425640,-71.080642,42.406521,2,66443549,-71.122337,42.410717,0,15:30,May 31 2019 3:30PM,3.2 mi,10 mins,11 mins,"{0: {'lat': 42.4065916, 'lng': -71.0809605}, 1...",{0: 'Head west on 8th St toward Middlesex AveR...

In [28]:
df_6000 = pd.read_csv\
('/Users/Dali/Documents/DSI-7/projects/project_4/problem3/Project4/Dali/csv/9.Google_directions_api_5-6k.csv')

In [29]:
df_6000.head(1)

,Unnamed: 0,osmid_start,x_start,y_start,start_zone,osmid_end,x_end,y_end,end_zone,Time,Time_adj,distance,duration,duration_in_traffic,coordinates,directions
0,5000,66422683,-71.127038,42.410869,0,66422566,-71.090547,42.433056,1,17:30,May 31 2019 5:30PM,5.3 mi,13 mins,17 mins,"{0: {'lat': 42.4102953, 'lng': -71.1254834}, 1...",{0: 'Head southeast on Osgood St toward Adams ...

In [30]:
df_all6 = pd.concat([df_1000, df_2000, df_3000, df_4000, df_5000, df_6000], axis=0, join='outer', join_axes=None, ignore_index=False,
          keys=None, levels=None, names=None, verify_integrity=False,
          copy=True)

In [31]:
df_all6.shape

(6000, 16)

In [32]:
df_all6.tail()

,Unnamed: 0,osmid_start,x_start,y_start,start_zone,osmid_end,x_end,y_end,end_zone,Time,Time_adj,distance,duration,duration_in_traffic,coordinates,directions
995,5995,66427664,-71.120235,42.410581,0,66452543,-71.095525,42.400850,2,15:30,May 31 2019 3:30PM,1.9 mi,7 mins,8 mins,"{0: {'lat': 42.4070256, 'lng': -71.1166684}, 1...",{0: 'Head southeast on Boston Ave toward Unive...
996,5996,66427664,-71.120235,42.410581,0,66452543,-71.095525,42.400850,2,17:30,May 31 2019 5:30PM,1.9 mi,7 mins,8 mins,"{0: {'lat': 42.4070256, 'lng': -71.1166684}, 1...",{0: 'Head southeast on Boston Ave toward Unive...
997,5997,66427146,-71.081243,42.405841,2,2295021981,-71.121101,42.409832,0,8:30,May 31 2019 8:30AM,3.3 mi,10 mins,11 mins,"{0: {'lat': 42.4057627, 'lng': -71.0813316}, 1...","{0: 'Head southwest on Middlesex Ave', 1: 'Tur..."
998,5998,66427146,-71.081243,42.405841,2,2295021981,-71.121101,42.409832,0,15:30,May 31 2019 3:30PM,3.3 mi,10 mins,11 mins,"{0: {'lat': 42.4057627, 'lng': -71.0813316}, 1...","{0: 'Head southwest on Middlesex Ave', 1: 'Tur..."
999,5999,66427146,-71.081243,42.405841,2,2295021981,-71.121101,42.409832,0,17:30,May 31 2019 5:30PM,3.3 mi,10 mins,13 mins,"{0: {'lat': 42.4057627, 'lng': -71.0813316}, 1...","{0: 'Head southwest on Middlesex Ave', 1: 'Tur..."

In [34]:
df_all6 = df_all6.loc[:, ~df_all6.columns.str.contains('^Unnamed')]
df_all6.head(1)

,osmid_start,x_start,y_start,start_zone,osmid_end,x_end,y_end,end_zone,Time,Time_adj,distance,duration,duration_in_traffic,coordinates,directions
0,66450694,-71.090072,42.436659,1,66449255,-71.092265,42.41105,2,8:30,May 31 2019 8:30AM,2.8 mi,8 mins,9 mins,"{0: {'lat': 42.4373659, 'lng': -71.08992169999...","{0: 'Head north on Palmer St toward Park Ave',..."

In [35]:
df_all6.to_csv('/Users/Dali/Documents/DSI-7/projects/project_4/problem3/Project4/Dali/csv/10.Google_directions_api_all6k.csv')